* {

  box-sizing: border-box;

}

html {

  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: white;
  /*height: auto;*/
  font-family: 'Noto Sans JP', sans-serif;

}

body {
  
  margin: 0px;
  padding: 0px;
  border: 0px;
  /*height: auto;*/

}

ul {

  list-style-type: none;
  margin: 0px;
  padding: 0px;
  
}

li {

  display: inline;

}

a {

  text-decoration: none;
  color: rgb(112, 112, 112);

}

a:hover {

  text-decoration: underline;
  color: rgb(112, 112, 112);
  
}

#textLang {

  color: blue;

}

.top {

  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  top: 0px;
  right: 0px;
  width: 100%;
  padding: 5px;
  font-size: 12px;
  align-items: center;

}

#gamil, #images {

  color: black;
  padding: 10px;

}

 #icon1 {

  padding: 12px;
  border-radius: 20px;
  border: none;
  background-color: white;

 }

 #icon2 {

  padding: 14px;
  border-radius: 20px;
  border: none;
  background-color: white;

 }

 #icon1:hover, #icon2:hover {

  background-color: #F2F2F2;

 }


.center {

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2px;

}

.imgimg {

  display: flex;
  justify-content: center;
  width: 100%;
  padding: 6px;

}

.searchb {

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border: none; 
  padding: 20px;

}

.searchb form {

  display: flex;
  flex-direction: row;
  justify-content: left;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 20px;
  width: 550px;
  height: 45px;
  resize: horizontal;

}

.searchb form input[type=text] {

  overflow: hidden;
  width: 100%;
  border: none;

}

.searchb form:hover {

  border: 1px solid rgb(218, 218, 218);
  box-shadow: 2px 2px 4px 4px rgba(128, 128, 128, 0.2);

}

.searchb button[type=submit] {

  padding: 6px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: inherit;
  color: rgb(160, 160, 160);

}

.searchb input[type=text] {

  padding: 6px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 17px;
  border: none;
  background-color: inherit;
  overflow: hidden;
  outline: none;

}

.buttons {

  display: flex;
  justify-content: center;
  width: 100%;
  padding: 4px; 
  border-bottom: 0px none;

}

#gs {

  border: none;
  margin: 5px;
  height: 35px;
  width: 137px;
  border-radius: 5px;
  background-color: #F2F2F2;

}

#gs:hover {

  border: 1px solid  rgb(218, 218, 218);
  background-color: #F2F2F2;

}

#lucky {

  border: none;
  margin: 15px;
  width: 137px;
  margin: 5px;
  border-radius: 5px;
  background-color: #F2F2F2;

}

#lucky:hover {

  border: 1px solid  rgb(218, 218, 218);
  background-color: #F2F2F2;

}

.text {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 11px;
  margin-top: 22px;

}

.bottom {

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: gray;
  position: absolute;
  bottom: 0px;
  width: 100%;

}

.fCountry {

  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-left: 14px;
  padding: 5px;
  border-bottom: 1px solid rgb(218, 218, 218);
  background-color: #F2F2F2;

}
 
#fText {

  margin: 7px;
  padding: 4px;
  padding-left: 10px;
  font-size: 14px;
  border: none;
  color: rgb(112, 112, 112);

}


.fLeft {

  display: flex;
  justify-content: flex-start;
  padding: 13px;
  padding-left: 30px;
  width: 50%;
  font-size: 14px;
  background-color: #F2F2F2;
  

}

.fRight {

  display: flex;
  justify-content: flex-end;
  padding: 13px;
  padding-right: 30px;
  width: 50%;
  font-size: 14px;
  background-color: #F2F2F2;

}

@media screen and (max-width: 650px) {

  .fLeft, .fRight {
    width: 100%;
    justify-content: center;
  }

}

@media screen and (min-height: 650px) {

  .imgimg {
    margin-top: 11%;
  }

}