* {

  box-sizing: border-box;

}

html {

  margin: 0px;
  padding: 0px;
  border: 0px;
  background-color: white;
  /*height: auto;*/
  font-family: 'Noto Sans JP', sans-serif;

}

body {
  
  margin: 0px;
  padding: 0px;
  border: 0px;
  /*height: auto;*/

}

ul {

  list-style-type: none;
  margin: 0px;
  padding: 0px;
  
}

li {

  display: inline;

}

.top {

  display: flex;
  justify-content: flex-end;
  top: 0px;
  right: 0px;
  width: 100%;
  padding: 10px;
}

.center {

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2px;

}

.imgimg {

  display: flex;
  justify-content: center;
  width: 100%;
  padding: 6px;

}

.searchb {

  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border: none; 
  padding: 20px;

}

.searchb form {

  display: flex;
  flex-direction: row;
  justify-content: left;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 20px;
  padding: 0px;
  margin: 0px;
  width: 44%;
  height: 45px;

}

.searchb form input[type=text] {

  overflow: hidden;
  width: 100%;
  border: none;

}

.searchb form:hover {

  border: 1px solid black;

}

.searchb button[type=submit] {

  padding: 6px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  background-color: inherit;

}

.searchb input[type=text] {

  padding: 6px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 17px;
  border: none;
  background-color: inherit;
  overflow: hidden;
}

.buttons {

  display: flex;
  justify-content: center;
  width: 100%;
  padding: 4px; 
  border-bottom: 0px none;

}

#gs {

  border: none;
  margin: 5px;
  height: 35px;
  width: 10%;
  border-radius: 5px;

  /* both #gs and #lucky increase height only applying height in #gs? */

}

#gs:hover {

  border: 1px solid black;
  background-color: rgb(255, 250, 250);

}

#lucky {

  border: none;
  margin: 15px;
  width: 10%;
  margin: 5px;
  border-radius: 5px;

}

#lucky:hover {

  border: 1px solid black;
  background-color: rgb(255, 250, 250);

}

.text {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 11px;
  margin-top: 22px;

}

.bottom {

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  border: 5px solid yellow;
  background-color: gray;
  position: absolute;
  bottom: 0px;
  width: 100%;

}

.fCountry {

  display: flex;
  justify-content: flex-start;
  left:  0px;
  border: 5px solid purple;
  width: 100%;

}

.fLeft {
  display: flex;
  justify-content: flex-start;
  border: 5px solid red;
  width: 50%;

}

.fRight {

  display: flex;
  justify-content: flex-end;
  border: 5px solid green;
  width: 50%;

}
